@import "https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap";

*{
  margin:0;
  padding:0;
  font-family:'Raleway',sans-serif;
  }

  p{
    font-family:'Montserrat',sans-serif;
  }

  a{
    text-decoration: none;
  }

.main  {
  margin: 20px 24px;
}
.logo{
  text-align: center;
  margin-bottom: 20px;

}

.site-type h1{
  font-size: 26px;
  font-weight: 100;
  text-align: center;
  color: #444;
}

.site-type{
  border-radius: 5px;
  box-shadow: 0 0 3px grey;
  padding: 20px 0;
  text-align: center;

}

.variant-site{
  margin-top: 30px;
  text-align: center;
}

.item{
  display: inline-block;
  width: calc(272px - 10px);
  position: relative;
  height: 190px;
  box-shadow: 0 0 3px grey;
  margin: 8px 5px;
    border-radius: 5px;
}

.name{
  position: relative;
  z-index: 1;
  display: flex;
  margin: 50px 0 0 20px;

}

.name h4{
  width: 120px;
  font-size: 20px;
  margin: 15px 0 0 15px;
}

.background-var{
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
}




/* ......................................................... */


.sidebar{
  text-align: center;
  position: relative;
  height: auto;
  box-shadow: 0 0 3px grey;
  margin-top: 20px;
  border-radius: 5px;
}

.head-side{
  width: 100%;
}

.head-side h2{
  background-color: #a971ed;
  width: 100%;
  padding: 30px 0;
  text-align: center;
  color: white;
  border-radius: 5px 5px 0 0;
}

.description {
  margin-top: 40px;
  z-index: 1;
  position: relative;
  padding-bottom: 100px;
}

.description img{
  border: 3px solid #7559fa;
  border-radius: 50%;
  padding: 20px;
}

.description h4{
  font-weight: normal;
  font-size: 18px;
  margin: 10px auto;
  border-bottom: 1px solid grey;
  padding: 10px 0;
  width: 151px;


}

.description p {
  width: 118px;
  color: #444;
  line-height: 22px;
  margin: 0 auto;
}

.background-foot-sidebar {
  width: 100%;
  line-height: 0;
  position: absolute;
  bottom: 0;
}

.background-foot-sidebar img{
  width: 100%;
  height: 168px;
  border-radius: 0 0 5px 5px;
}


@media screen and (min-width:768px){

  .main{
    margin: 40px 40px;
  }

  .content{
    display: inline-block;
    width: 57%;
  }

  .sidebar{
    width: 40%;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 2%;
    height: auto;

  }

  .description{
    margin-bottom: 204px;
  }

  .description h4{
    font-size: 24px;
    width: 210px;
  }

  .description p{
    width: 160px;
    font-size: 22px;
    margin-top: 20px;
  }

  .background-foot-sidebar img{
    height: 300px;
  }
}

@media screen and (min-width: 1280px){
  .main{
    width: 1136px;
    margin: 40px auto;
  }

  .item{
    width: calc(378px - 10px);
  }

  .content{
    width: 67%;
  }

.description{
  margin-bottom: 186px;
}

.sidebar{
  width: 30%;
}

.name h4{
  font-size: 24px;
  margin: 12px 0 0 15px;
}

}
